<?xml version="1.0" encoding="UTF-8"?>
<!--
	  Mapper 인터페이스를 이용하는 또 다른 장점은 기존의 XML 을
	   그대로 사용할 수 있음.
	   이때 두가지 규칙이 있음.
	   1. Mapper 인터페이스 이름과 XML Mapper 의 네임스페이스를 반드시
		  일치시킬 것.
	   2. Mapper 인터페이스의 메서드 이름과 XML 의 id 를 반드시 일치시킴.
	   root-context.xml :: sqlSessionFactory 에 매퍼 xml 파일의 경로를 인식하게 함.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.edu.dao.IF_SampleDAO">

	<!-- 학생 실습용 추가  hslq,mysql 공통 
	<insert id="insertMember">
    insert into member (USERID, USERPW, USERNAME, EMAIL, REGDATE) 
    			values (#{userid}, #{userpw}, #{username}, #{email}, now())
  	</insert>
  	-->
  	<!-- 학생 실습용 추가  oracle 전용 -->
	<insert id="insertMember">
    insert into member (USERID, USERPW, USERNAME, EMAIL, REGDATE) 
    			values (#{userid}, #{userpw}, #{username}, #{email}, sysdate)
  	</insert>
  	<!-- 학생 실습용 추가  hslq,mysql,oracle 공통 -->
	<delete id="deleteMember">
	 delete from member where userid = #{userid}
	</delete>
	<!-- 학생 실습용 추가  hslq,mysql,oracle 공통 -->
	<select id="selectMember" resultType="org.edu.vo.MemberVO">
      select 
	    * 
	  from 
	    member 
  	</select> 
  	<!-- 학생 실습용 추가  hslq,mysql 공통 
  	<update id="updateMember">
  		update member set
  		username=#{username}, userpw=#{userpw}, email=#{email}, updatedate=now()
  		where userid = #{userid}
  	</update>
  	-->
  	<!-- 학생 실습용 추가  oracle 전용 -->
  	<update id="updateMember">
  		update member set
  		username=#{username}, userpw=#{userpw}, email=#{email}, updatedate=sysdate
  		where userid = #{userid}
  	</update>
  
</mapper>